<div class="container-fluid">
    <div class="row g-4 mt-3 pb-3 animate__animated animate__fadeIn anim-duration-half">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-bold">XTB Price History</h5>
                    <div class="row g-3">
                        <div class="col-12">
                            <input type="text" class="form-control" placeholder="Filter results">
                        </div>
                        <div class="col-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>TX ID</th>
                                        <th>Price (USD)</th>
                                        <th>Type</th>
                                        <th>Order Size</th>
                                        <th>Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let result of results | paginate: { itemsPerPage: 10, currentPage: page }">
                                        <td>{{result?.id}}</td>
                                        <td>${{result?.price | number}}</td>
                                        <td>{{result?.side}}</td>
                                        <td>{{result?.size | number}}</td>
                                        <td>{{result?.timestamp | date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white border-0">
                    <div class="d-flex justify-content-center">
                        <pagination-controls (pageChange)="page = $event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>