/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
td.text-danger {
    color: #d56a88 !important;
}
body, html {
    height: 100%;
}
body {
    font-family: Poppins !important;
}
body, th, td {
    color: #2f3f57 !important;
}
h5.text-success, td.text-success {
    color: #32c9bb !important;
}
.display-4 {
    font-weight: 500 !important;
}
input {
    background-color: #f8f8fa !important;
}
/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    height:60px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.anim-duration-half {
    animation-duration: 0.5s  !important;
}